[submodule "opensbi"]
	path = opensbi
	url = git@github.com:PENGLAI-ZGC-TEE/opensbi.git
	branch = fix-heayzone
[submodule "riscv-rootfs"]
	path = riscv-rootfs
	url = git@github.com:PENGLAI-ZGC-TEE/riscv-rootfs.git
	branch = origin-heavyzone
[submodule "NEMU"]
	path = NEMU
	url = git@github.com:DASICS-ICT/NEMU.git
	branch = fdi-tee-nh3
[submodule "debian-linux-kernel"]
	path = debian-linux-kernel
	url = git@github.com:PENGLAI-ZGC-TEE/debian-linux-kernel.git
	branch = origin-heavyzone
