[submodule "opensbi"]
	path = opensbi
	url = git@github.com:DASICS-ICT/OpenSBI.git
	branch = fdi-tee-nh3
[submodule "riscv-rootfs"]
	path = riscv-rootfs
	url = git@github.com:DASICS-ICT/riscv-rootfs.git
	branch = fdi-tee-nh3
[submodule "NEMU"]
	path = NEMU
	url = git@github.com:DASICS-ICT/NEMU.git
	branch = fdi-tee-nh3
[submodule "debian-linux-kernel"]
	path = debian-linux-kernel
	url = git@github.com:DASICS-ICT/riscv-linux.git
	branch = fdi-tee-nh3
